body{
  margin: 0;
  text-align: center;
}
h1{
  margin-top: 0;
}
.mypic
{
  width: 200px;
  margin-top: 50px;
}
.header-container
{
background-color: #d4ebd0;
}
.top-container
{
  background-color: #d4ebd0;
  position: relative;
}
.top-cloud
{
  position: absolute;
  right: 300px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
}
.tree
{
  margin-top: 100px;
}
